/* Write your CSS here! */
body{    
    background-color: aquamarine;
    margin: 8px;
    display: block;
    
}
#mainHeading {
    align-items: center;
    color: red;
    display: flex;
    margin-left: 20px;
}
.images{
    width: 750px;
    height: 600px;
    margin-left: 30px;
    border: solid black 2px;
}
.paragraph{
    width: 720px;
    font-size:larger;
    margin-top: 20px;
    margin-bottom: 20px;
}
.funParagraph{
    width: 720px;
    font-size:larger;
    margin-top: 20px;
    margin-bottom: 20px;
    color: green;
}
.descrip{
    margin-left: 30px;
    margin-top: 0;
}
#author{
    padding: 10px;
}